.site-hero {
    height: 80vh;
    background-image: url("../assets/portfolio/foxtailbkg.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #fff;
    font-style: italic;
    text-align: center;
}

.hero-text h1 {
    font-size: 5em;
    font-family: 'Lobster', cursive;
}

.hero-text h3 {
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
}
