.flexcontainer {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 177, 123);
    height: 300px;
}

.item {
    color:beige;
    height: 50px;
    width: 50px;
    background-color:coral;
    margin: 5px;
}

#item1, #item6 {
    align-self: flex-start;
}

#item3, #item4 {
    align-self: flex-end;
}