body {
    background-color:darkslategrey;
    margin-top: 50px;
    margin-left: 80px;
    margin-right: 80px;
}
#main {
    color: azure;
    text-align: center;
}

h1 {
    border: 5px black solid;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    padding:15px;
    color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3 {
    color:bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    padding-top: 6px;
    padding-left: 8px;
    padding-bottom: 2px;
    border: 1px black solid;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
}

#content1 {
    padding: left 50px right 50px;
}

#content2 {
    padding: left 50px right 50px;
}

#content3 {
    padding: left 50px right 50px;
}

.quote {
    padding: 20px;
}
.quotecitation {
    padding-left:250px;
    padding-bottom: 20px;
}

#footer {
    text-align: right;
    color: black;
}