/* GENERAL STYLING / RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    background-color: whitesmoke;
}
img {
    object-fit: cover;
}

/* HEADER */
header {
    width: 100vw;
    background-color: darkseagreen;
}

/* NAVIGATION */
nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    background-color: darkseagreen;
}

#logo {
    color: black;
    text-decoration: none;
}

a {
    background-color: darkseagreen;
}

ul {
    display: flex;
    background-color: darkseagreen;
}
ul li {
    margin-right: 25px;
}
ul li:last-of-type {
    margin-right: 0;
}
ul li a, ul li a:visited {
    color: black;
    text-decoration: none;
}
ul li a:hover {
    color: whitesmoke;
}

/* MAIN */
main {
    width: 90vw;
    margin: 0 auto;
}

/* HERO */
.hero {
    display: flex;
    margin: 50px 0;
    height: 400px;
    justify-content: space-between;
    align-items: center;
}
.hero .herotxt {
    padding-right: 50px;
}
.hero img {
    height: 100%;
    width: 100%;
}

/* GALLERY */
.gallery h3 {
    padding: 2vh
}
.gallery h2 {
    text-align: center;
    margin-bottom: 20px;
}
.gallery .projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 25px;
}
.gallery .projects .project-set {
    width: calc(50% - 25px);
}

.gallery .projects .project-set img {
    width: 100%;
}
.gallery .projects .project-set p {
    margin: 10px 0;
}
.gallery .linkbtn, .gallery .linkbtn:visited {
    display: inline-block;
    width: 100%;
    background-color: darkseagreen;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 1vh;
    transition: .5s;
}
.gallery .linkbtn:hover {
    background-color: transparent;
    color: black;
}

/* FOOTER */
footer {
    width: 100vw;
    text-align: center;
    background-color: black;
    color: black;
    padding: 10px 0;
    margin-top: 50px;
    text-transform: uppercase;
}

/*about me*/
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 10vh;
}

#abouttext {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5vh;
}

#abouttext h1 {
    border-bottom: .5vh solid darkseagreen;
    border-radius: .5vh;
    width: 300%;
    
}

#abouttext p {
    padding-top: 5vh;
    padding-bottom: 3vh;
    width: 65vh;
}

#about button{
    background-color: darkseagreen;
    border: solid;
    color: white;
    padding: .8vh;
    border-radius: 1vh;

}

/*posts*/
#tazoimg {
    display: flex;
    justify-content: center;
}
#tazo img {
    margin: 2vh;
    width: calc(25% - 25px);
    padding-bottom: 3vh;
}
#tazotext p {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 80vh;
}
#tazotext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5vh;
    font-size: large;
}

#fantasyimg {
    display: flex;
    justify-content: center;
}
#fantasy img {
    margin: 2vh;
    width: 60%;
    padding-bottom: 3vh;
}
#fantasytext p {
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 80vh;
}
#fantasytext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 5vh;
    font-size: large;
}

/* MEDIA QUERIES AND RESPONSIVENESS */
@media screen and (max-width: 768px) {
    .hero {
        flex-flow: column wrap;
        height: auto;
    }
    .hero .herotxt {
        padding: 0 0 30px 0;
    }
    .gallery .projects {
        flex-flow: column wrap;
    }
    .gallery .projects .project-set {
        width: 100%;
    }
}