body {
    display: grid;
    height: 100vh;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
    "navArea headerArea headerArea"
    "navArea contentArea contentArea"
    "navArea footerArea footerArea";
}

nav {
    grid-area: navArea;
    background-color: darkseagreen;
}
header {
    grid-area: headerArea;
    background-color: cadetblue;
}
main {
    grid-area: contentArea;
    background-color: beige;
}
footer {
    grid-area: footerArea;
    background-color:lightslategray;
}

@media screen and (max-width: 768px) {
    body {
        grid-template-columns: 100%;
        grid-template-areas: 10% 5% 75% 10%;
        grid-template-areas: 
        "headerArea"
        "navArea"
        "contentArea"
        "footerArea";
    }
}